<script lang="ts">
	import { onMount } from "svelte";
	import { provideVSCodeDesignSystem, vsCodeButton, vsCodeProgressRing } from "@vscode/webview-ui-toolkit";
	import { vscode } from "../utils/vscode";
	import { formatDistanceToNow } from "date-fns";

	type CustomMenuActionEntry = {
		name: string;
		ref: any;
	};

	let tree = [];
	let currentHash:string, mainHash:string;
	let customMenuActions: CustomMenuActionEntry[]=[];

	provideVSCodeDesignSystem().register(vsCodeButton(), vsCodeProgressRing());
	onMount(async () => {
		window.addEventListener("message", async (event) => {
			switch (event.data.type) {
				case "getTree":
					tree = []
					for (const t of event.data.value.tree) {
						tree.push(t);
					}
					currentHash = event.data.value.currentHash
					mainHash = event.data.value.mainHash
					break;
				case 'refreshStart':
					tree=[]
					break;
				case 'customMenuActions':
					customMenuActions = event.data.value.map((x:string)=> {
						return {name:x, ref:null};
					});
					console.log(customMenuActions)
					break;
			}
		});
		refreshCommitGraph();
	});

	function refreshCommitGraph() {
		customMenuActions = []
		vscode.postMessage({type: "getTree"});
		vscode.postMessage({type: "customMenuActions"});
	}

	function showCommitMenu() {
	}

	const svg_param_w = 20;
	const svg_param_h = 55;
	const svg_param_rad = 6;


	function hoverStart(o) {
		const ele=o.target.querySelectorAll('.menu')[0]
		if (ele) {ele.style.display = 'block';}
	}
	function hoverEnd(o) {
		const ele = o.target.querySelectorAll('.menu')[0]
		if(ele){ele.style.display = 'none';}
	}

	function moveToHash(o) {
		vscode.postMessage({type: "moveToHash", value: o}); 
	}
	function rebaseTo(o) {
		vscode.postMessage({type: "rebaseTo", value: o}); 
	}
	function hideCommit(o) {
		vscode.postMessage({type: "hideCommit", value: o}); 
	}
	function isCurrentHashFrozen() {
		console.log('isCurrentHashFrozen',currentHash)
		for (const [[hash, numVerticals, bef, aft, lastVerticalHasSlant, branchName, isFrozen], commitInfo] of tree){
			console.log(hash, isFrozen)
			if(hash==currentHash) {
				return isFrozen=='1';
			}
		}
		return false;
	}
	function runActionCommit() {
		vscode.postMessage({type: "runAction", value: 'commit'}); 
	}
	function runActionAmend() {
		vscode.postMessage({type: "runAction", value: 'amend'}); 
	}
	function runCustomMenuAction(name) {
		vscode.postMessage({type: "runCustomMenuAction", value: name}); 
	}
	let mainWindowW = 0
	let moreCustomActionsList = []
	let moreCustomActionsDropDown = null

	$: {
		let shouldHide = false;
		moreCustomActionsList = [];
		for(let i=1; i<customMenuActions.length; i++) {
			const e = customMenuActions[i];
			if(!e.ref) {
				continue;
			}
			if (e.ref.getBoundingClientRect().left < customMenuActions[i-1].ref?.getBoundingClientRect().right) {
				shouldHide = true;
			}
			if(shouldHide) {
				e.ref.style.display = 'none';
				moreCustomActionsList.push(e.name);
			}
		}
	}

	function moreCustomActionsDropDownClicked() {
		if(!moreCustomActionsDropDown){return;}
		if (moreCustomActionsDropDown.style.display==='block') {
			moreCustomActionsDropDown.style.display='none';
		} else {
			moreCustomActionsDropDown.style.display='block';
		}
	}
	function onMainWindowClick() {
		moreCustomActionsDropDown.style.display='none';
	}
</script>

<!-- svelte-ignore a11y-click-events-have-key-events -->
<main bind:clientWidth={mainWindowW} on:click={onMainWindowClick}>
	{#if !tree || !tree.length }
	<div style="display: flex; justify-content: center; width: 100%;">
		<vscode-progress-ring></vscode-progress-ring>
	</div>
	{:else}
		<table cellspacing="0" cellpadding="0" style="min-width: 100%;">
			<tr>
				<td>
					<vscode-button title="New commit with 'git record --detach'" on:click={runActionCommit}>New Commit</vscode-button>
					<vscode-button title="Amend to existing commit 'git amend'" on:click={runActionAmend} disabled='{isCurrentHashFrozen()}'>Amend</vscode-button>
				</td>
				<td style="text-align: right">
					{#each customMenuActions as ele, index}
						<vscode-button bind:this={ele.ref} on:click={() => runCustomMenuAction(ele.name)} >{ele.name}</vscode-button>
					{/each}
				</td>
				<td class="dropdown">
					<vscode-button on:click|stopPropagation="{moreCustomActionsDropDownClicked}" class="dropbtn">
						<svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill="currentColor"><path d="M16 5H0V4h16v1zm0 8H0v-1h16v1zm0-4.008H0V8h16v.992z"/></svg>
					</vscode-button>
					<div bind:this="{moreCustomActionsDropDown}" class="dropdown-content">
						{#each moreCustomActionsList as entry}
						<span on:click={() => runCustomMenuAction(entry)}>{entry}</span>
						{/each}
						<span>Help</span>
					</div>
				</td>
			</tr>
		</table>
	<table cellspacing="0" cellpadding="0" class="commitTree" >
		{#each tree as [[hash, numVerticals, bef, aft, lastVerticalHasSlant, branchName, isFrozen], commitInfo] }
		<tr class="commitTreeOneNode" class:commitTreeOneNodeSelected={hash===currentHash} on:mouseenter="{hoverStart}" on:mouseleave="{hoverEnd}">
			<td class="commitTreeEntry">
					{#each {length: numVerticals} as _, i}
			<svg viewBox="0 0 {svg_param_w} {svg_param_h}" height="{svg_param_h}" width="{svg_param_w}" xmlns="http://www.w3.org/2000/svg">
				<line x1="{svg_param_w/2}" y1="0" x2="{svg_param_w/2}" y2="{svg_param_h}"/>
				{#if i==numVerticals-1 && lastVerticalHasSlant==1}
				<line x1="{svg_param_w/2}" y1="{svg_param_h-svg_param_w/2}" x2="{svg_param_w}" y2="{svg_param_h}" />
				{/if}
			</svg>
			{/each}
			<svg viewBox="0 0 {svg_param_w} {svg_param_h}" height="{svg_param_h}" width="{svg_param_w}" xmlns="http://www.w3.org/2000/svg">
				{#if bef==0}
				<line x1="{svg_param_w/2}" y1="0" x2="{svg_param_w/2}" y2="{svg_param_h/2-svg_param_rad}" />
				{:else}
				<line x1="0" y1="0" x2="{svg_param_w/2}" y2="{svg_param_h/2-svg_param_rad}" />
				{/if}
				<circle r="{svg_param_rad}" cx="{svg_param_w/2}" cy="{svg_param_h/2}" fill="none" />
				{#if aft!=0}
				<line x1="{svg_param_w/2}" y1="{svg_param_h}" x2="{svg_param_w/2}" y2="{svg_param_h/2+svg_param_rad}" />
				{/if}
				{#if aft==2}
				<line x1="{svg_param_w}" y1="{svg_param_h}" x2="{svg_param_w/2}" y2="{svg_param_h-svg_param_w/2}" />
				{/if}
			</svg>
			</td>
			<td class="commitTreeText">
				<span style="font-size:75%;">{hash}
				{#if !!branchName}
				<span class="border-circle">
					&nbsp;{branchName}&nbsp;
				</span>
				{/if}
				- {formatDistanceToNow(new Date(parseInt(commitInfo[1])*1000))} ago by {commitInfo[3]}
				</span>
				<br/>
				<span>
				{commitInfo[4]}
				</span>
				<span class="menu">
					{#if currentHash!==hash}
					<vscode-button title="Checkout/Switch to commit" on:click={() => moveToHash(hash)}>
						<svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill="currentColor"><path d="M9 2H8V3H9V2Z"/><path d="M8.14644 14L3.14645 9.00001L3.85356 8.2929L8 12.4393L8 11L9 11L9 12.4393L13.1464 8.2929L13.8535 9.00001L8.85354 14H8.14644Z"/><path d="M8 5H9V6H8V5Z"/><path d="M9 8H8V9H9V8Z"/></svg>
					</vscode-button>
					{/if}
					<vscode-button title="Rebase/Move this commit to ..." on:click={() => rebaseTo(hash)}>
						<svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill="currentColor"><path fill-rule="evenodd" clip-rule="evenodd" d="M7.389 12.99l-1.27-1.27.67-.7 2.13 2.13v.7l-2.13 2.13-.71-.71L7.349 14h-1.85a2.49 2.49 0 0 1-2.5-2.5V5.95a2.59 2.59 0 0 1-1.27-.68 2.52 2.52 0 0 1-.54-2.73A2.5 2.5 0 0 1 3.499 1a2.45 2.45 0 0 1 1 .19 2.48 2.48 0 0 1 1.35 1.35c.133.317.197.658.19 1a2.5 2.5 0 0 1-2 2.45v5.5a1.5 1.5 0 0 0 1.5 1.5h1.85zm-4.68-8.25a1.5 1.5 0 0 0 2.08-2.08 1.55 1.55 0 0 0-.68-.56 1.49 1.49 0 0 0-.86-.08 1.49 1.49 0 0 0-1.18 1.18 1.49 1.49 0 0 0 .08.86c.117.277.311.513.56.68zm10.33 6.3c.48.098.922.335 1.27.68a2.51 2.51 0 0 1 .31 3.159 2.5 2.5 0 1 1-3.47-3.468c.269-.182.571-.308.89-.37V5.49a1.5 1.5 0 0 0-1.5-1.5h-1.85l1.27 1.27-.71.71-2.13-2.13v-.7l2.13-2.13.71.71-1.27 1.27h1.85a2.49 2.49 0 0 1 2.5 2.5v5.55zm-.351 3.943a1.5 1.5 0 0 0 1.1-2.322 1.55 1.55 0 0 0-.68-.56 1.49 1.49 0 0 0-.859-.08 1.49 1.49 0 0 0-1.18 1.18 1.49 1.49 0 0 0 .08.86 1.5 1.5 0 0 0 1.539.922z"/></svg>
					</vscode-button>
					<vscode-button title="Hide/Delete commit" on:click={() => hideCommit(hash)}>
						<svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill="currentColor"><path fill-rule="evenodd" clip-rule="evenodd" d="M14.5 1h-13l-.5.5v3l.5.5H2v8.5l.5.5h11l.5-.5V5h.5l.5-.5v-3l-.5-.5zm-1 3H2V2h12v2h-.5zM3 13V5h10v8H3zm8-6H5v1h6V7z"/></svg>
					</vscode-button>
				</span>
			</td>
		</tr>
		{/each}
	</table>
	{/if}
</main>

<style>
	main {
		background-color: transparent;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		height: 100%;
		padding: 0;
		margin: 0;
	}
	table.commitTree {
		min-width: 100%;
		border: none;
	}
	td.commitTreeEntry {
		font-size: 0;
		width:0.1%;
		white-space: nowrap;
	}
	tr.commitTreeOneNodeSelected {
		background-color: var(--vscode-list-activeSelectionBackground);
		color: var(--vscode-list-activeSelectionForeground);
	}
	td.commitTreeEntry svg {
		vertical-align: bottom;
		stroke: var(--vscode-input-foreground);
		stroke-width: 2;
	}
	tr.commitTreeOneNode:hover {
		background-color: var(--vscode-button-hoverBackground);
	}
	td.commitTreeText {
		min-width: 100%;
	}
	tr.commitTreeOneNode span.menu {
		float: right;
		display: none;
	}
	.border-circle {
		border-radius: 10px;
		border: 2px solid;
		font-size: 90%;
	}

	/* The container <div> - needed to position the dropdown content */
	.dropdown {
		float: right;
		position: relative;
		display: block;
	}

	/* Dropdown Content (Hidden by Default) */
	.dropdown-content {
		display: none;
		position: absolute;
		min-width: 50%;
		overflow: auto;
		background-color: var(--vscode-button-background);
		right: 0;
		z-index: 1;
		cursor: pointer;
	}

	/* Links inside the dropdown */
	.dropdown-content span {
		color: var(--vscode-button-foreground);
		padding: 12px 16px;
		text-decoration: none;
		display: block;
	}

	/* Change color of dropdown links on hover */
	.dropdown-content span:hover {
		background-color: var(--vscode-button-hoverBackground);
	}
</style>
