<script lang="ts">
	import { onMount } from "svelte";
	import { provideVSCodeDesignSystem, vsCodeButton, vsCodeProgressRing, vsCodeTag } from "@vscode/webview-ui-toolkit";
	import { vscode } from "../utils/vscode";
	import { formatDistanceToNow } from "date-fns";

	let staged = [], unstaged = []
	let is_staged_collapsed = true, is_unstaged_collapsed = true
	let isClean = false;
	let mainWindowW = null, entryW=null

	provideVSCodeDesignSystem().register(vsCodeButton(), vsCodeProgressRing(), vsCodeTag());
	onMount(async () => {
		window.addEventListener("message", async (event) => {
			switch (event.data.type) {
				case "gitStatus":
					staged = []
					unstaged=[]
					for(const [path,fname,dname,index,workingDir,from] of event.data.value.status) {
						if (index !== ' ') {
							staged.push([path, fname, dname, index, from])
						} else {
							unstaged.push([path, fname, dname, workingDir, from])
						}
					}
					isClean = event.data.value.isClean
					break;
			}
		});
		vscode.postMessage({type: "gitStatus"});
	});
	function on_staged_collapsed() {
		is_staged_collapsed=!is_staged_collapsed
	}
	function on_unstaged_collapsed() {
		is_unstaged_collapsed=!is_unstaged_collapsed
	}

	$: is_staged_collapsed_class = is_staged_collapsed ?'tree-head-collapsible-expanded':'';
	$: is_unstaged_collapsed_class = is_unstaged_collapsed ?'tree-head-collapsible-expanded':'';
	$: entryW = mainWindowW;

	function hoverStart(o) {
		let e = o.target.querySelectorAll('.tree-entry-menu')[0]
		if(e){e.style.display = 'block';}
		 e = o.target.querySelectorAll('.tree-entry-state')[0]
		if (e){e.style.display = 'none';}
	}
	function hoverEnd(o) {
		let e= o.target.querySelectorAll('.tree-entry-menu')[0]
		if(e){e.style.display = 'none';}
		e=o.target.querySelectorAll('.tree-entry-state')[0]
		if(e){e.style.display = 'block';}
	}

	function stage_file(fname) {
		vscode.postMessage({type: "stageFile", value:fname});
	}
	function unstage_file(fname) {
		vscode.postMessage({type: "unstageFile", value:fname});
	}
</script>

<main class="sourceControlMain" bind:clientWidth={mainWindowW}>
	{#if !staged.length && !unstaged.length }
	<div style="display: flex; justify-content: center; width: 100%;">
		<vscode-progress-ring></vscode-progress-ring>
	</div>
	{:else}
		<div style="width:100%">
			<div class="tree-head-collapsible {is_staged_collapsed_class}" on:click={on_staged_collapsed}>Staged Changes</div>
			{#if is_staged_collapsed}
			{#each staged as [path,fname,dname,state,from] }
				<div class="tree-entry" on:mouseenter="{hoverStart}" on:mouseleave="{hoverEnd}" style="max-width: {entryW}px;">
					<span style="width:{entryW-40}px;">{fname}
					<span class="tree-entry-path">{dname}</span>
				</span>
					<span class="tree-entry-menu">
					<vscode-button title="Unstage" on:click={unstage_file(path)}><svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill="currentColor"><path d="M15 8H1V7h14v1z"/></svg></vscode-button>
				</span>
				<div class="tree-entry-state border-circle"
					class:tree-entry-state-add={state=='A'}
					class:tree-entry-state-modify={state=='M'}
					class:tree-entry-state-remove={state=='D'}
					>{state}</div>
				</div>
			{/each}
			{/if}
			<div class="tree-head-collapsible {is_unstaged_collapsed_class}" on:click={on_unstaged_collapsed}>Unstaged</div>
			{#if is_unstaged_collapsed}
			{#each unstaged as [path,fname,dname,state,from] }
				<div class="tree-entry" on:mouseenter="{hoverStart}" on:mouseleave="{hoverEnd}" style="max-width: {entryW}px;">
					<span style="width:{entryW-40}px;">{fname}
					<span class="tree-entry-path">{dname}</span>
				</span>
					<span class="tree-entry-menu">
					<vscode-button title="Stage" on:click={stage_file(path)}>
						<svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill="currentColor"><path d="M14 7v1H8v6H7V8H1V7h6V1h1v6h6z"/></svg></vscode-button>
				</span>
				<div class="tree-entry-state border-circle"
					class:tree-entry-state-add={state=='A'}
					class:tree-entry-state-modify={state=='M'}
					class:tree-entry-state-remove={state=='D'}
					>{state}</div>
				</div>
			{/each}
			{/if}
		</div>
	<script>
	</script>
	{/if}
</main>

<style>
	.sourceControlMain {
		background-color: transparent;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		height: 100%;
		padding: 0;
  	margin: 0;
		cursor: pointer;
		user-select: none;
	}
	.tree-head-collapsible {
		display: flex;
		justify-content: start;
		align-items: center;
		background-color: var(--vscode-button-background);
		height: 2em;
	}
	.tree-head-collapsible:hover {
		background-color: var(--vscode-button-hoverBackground);
	}
	.tree-head-collapsible::before {
		content: "\25BA";
	}
	.tree-head-collapsible-expanded::before {
		content: '\25BC';
	}
	.tree-entry {
		display: flex;
		height: 2em;
		padding-left: 10px;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.tree-entry:hover {
		background-color: var(--vscode-button-hoverBackground);
	}
	.tree-entry-path {
		font-size: 70%;
	}
	.tree-entry-state {
		float: right;
		font-size: 100%;
		background-color: var(--vscode-button-hoverBackground);
		padding-left: 4px;
		padding-right: 4px;
	}
	.tree-entry-state-add {
		color: var(--vscode-gitDecoration-addedResourceForeground);
	}
	.tree-entry-state-modify {
		color: var(--vscode-gitDecoration-modifiedResourceForeground);
	}
	.tree-entry-state-remove {
		color: var(--vscode-gitDecoration-deletedResourceForeground);
	}
	.tree-entry-menu {
		float: right;
		display: none;
	}
	.border-circle {
		border-radius: 10px;
		border: 2px solid;
		font-size: 120%;
	}
</style>

